# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C
5. R
6. JS

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. MatPlotLib
3. Numpy
4. Seaborn
3. Keras
4. Pytorch

__Objectives:__
+ listed the popular languages used in solving data science problems
+ listed popular libraries
+ listed popular integrated development environments used by data scientist
+ listed examples for arithmetic expressions

|Data Science Tools|
|------------------|
|Pycharm|
|RStudio|
|Anaconda|
|Julia|

### Below are a few examples of evaluating arithmetic expressions in Python.
2+3*6

(5-9)+5

4+2*6

5*2/4

In [6]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Surya